<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <link href="/styles/normalize.css" rel="stylesheet">
        <link href="/styles/reset.css" rel="stylesheet">
        <link href="/styles/base.css" rel="stylesheet">
        {% for css_file in css_files %}
            <link href="{{ css_file }}" rel="stylesheet">
        {% endfor %}
    </head>
    <body>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="overlay" class="overlay">
            <span class="overlay-title"></span>
            <div class="overlay-message"></div>
            <div class="clear"></div>
            <a href="javascript:" class="close"><img src="/images/close.png" width="29" height="29" alt=""></a>
            <div class="clear"></div>
        </div>
        <script src="/scripts/js/jquery.js"></script>
        <script src="/scripts/js/jquery.tools.js"></script>
        <script src="/scripts/js/base.js"></script>
        {% if overlay %}
            <script>
                $(document).ready(function() {
                    showOverlay('{{ overlay['title'] }}', '{{ overlay['message'] }}');
                });
            </script>
        {% endif %}
        {% for js_file in js_files %}
            <script src="{{ js_file }}"></script>
        {% endfor %}
        {% block bottom %}{% endblock %}
    </body>
</html>