<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="description" value="{{ meta_description }}">
        <link href="/scripts/minify_css.php?{% for css_file in css_files %}f[]={{ css_file }}{% if !forloop.last %}&amp;{% endif %}{% endfor %}" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="overlay" class="overlay">
            <span class="overlay-title"></span>
            <div class="overlay-message"></div>
            <div class="clear"></div>
            <a href="javascript:" class="close"><img src="/images/close.png" width="29" height="29" alt=""></a>
            <div class="clear"></div>
        </div>
        <script src="/scripts/js/jquery.js"></script>
        <script src="/scripts/js/jquery.tools.js"></script>
		{% if js_vars|length > 0 %}
			<script>
				{% for name, value in js_vars %}
					var {{ name }} = '{{ value }}';
				{% endfor %}
			</script>
		{% endif %}
        <script src="/scripts/minify_js.php?{% for js_file in js_files %}f[]={{ js_file }}{% if !forloop.last %}&amp;{% endif %}{% endfor %}"></script>
        {% if overlay %}
            <script>
                $(document).ready(function() {
                    showOverlay('{{ overlay['title'] }}', '{{ overlay['message'] }}');
                });
            </script>
        {% endif %}
        {% block bottom %}{% endblock %}
    </body>
</html>