a:hover, a:active {
    outline:0;
}

a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}

html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family:inherit;
	line-height:1;
	color:inherit;
	text-rendering:optimizelegibility;
}

.clear {
    clear:both;
}

.clearfix {
	*zoom:1;
}

.clearfix:before, .clearfix:after {
	display:table;
	line-height:0;
	content:"";
}

.clearfix:after {
	clear:both;
}

form {
	margin:0 0 20px;
}

fieldset {
	margin:0;
	padding:0;
	border:0;
}

legend {
	display:block;
	width:100%;
	padding:0;
	border:0;
}

pre {
	display:block;
	padding:9.5px;
	margin:0 0 10px;
	font-size:13px;
	line-height:20px;
	word-break:break-all;
	word-wrap:break-word;
	white-space:pre;
	white-space:pre-wrap;
	background-color: #F5F5F5;
	border:1px solid #CCC;
	border:1px solid rgba(0, 0, 0, .15);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}